<html>
<head>
<meta name="google-site-verification" content="4pN93apsdh0knxnQvjVcXz3FbZSJ3N1zZ2yRLeJZhsQ" />
<meta name="msvalidate.01" content="1309BF972A6186CC2B633EA8127F134E" />
<title>{% block title %}کتاب جنگو{% endblock %}</title>
<meta name="keywords" content="{% block keywords %}جنگو, کتاب, فارسی, پایتون, فریم ورک, آموزش, django, book, persian, framework, python{% endblock %}" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="content-language" content="fa" />

<link rel="shortcut icon" href="/statics/images/favicon.ico" />
<link rel="stylesheet" href="/statics/stylesheets/djangobook.css"
				type="text/css" />

<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push([ '_setAccount', 'UA-24333256-1' ]);
	_gaq.push([ '_trackPageview' ]);

	(function() {
		var ga = document.createElement('script');
		ga.type = 'text/javascript';
		ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl'
				: 'http://www')
				+ '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(ga, s);
	})();
</script>

{% block tuhead %}{% endblock %}
</head>

<body>
	<div class='main'>
		<div class="top">
			{% block main %}
				<a href="/" class="top">صفحه اصلی</a>
			{% endblock %}
			 | 
			{% block toc %}
				<a href="/djangobook/" class="top">فهرست مطالب</a>
			{% endblock %}
			 | 

			{% block aboutbook %}
				<a href="/aboutdjangobook/" class="top">درباره کتاب</a>
			{% endblock %}
			 | 

			{% block contactus %}
				<a href="/contactus/" class="top">تماس با ما</a>
			{% endblock %}
			 | 
			<a href="http://www.pythonbook.ir" title="جدید">
				کتاب پایتون
			</a>
		</div>
		
		{% block head %}{% endblock %}

		<div style="padding-bottom: 20px; padding-top: 10px;">
			<a href="http://www.djangobook.ir/">
			<h1 style='color: white;'>کتاب جنگو</h1>
		</a></div>

		{% block khodebody %}
		<div class="aval">
			{% block body %}{% endblock %}
		</div>
		{% endblock %}

			<div class="footer">
This work is licensed under the GNU Free Document License
                                <br />
                                Copyright © 2011 - <a href="http://www.aminpy.com/" target="_blank">Amin Oruji</a>
				{% block foot %}{% endblock %}
			</div>
<!-- Begin WebGozar.com Counter code -->
<script type="text/javascript" language="javascript" src="http://www.webgozar.ir/c.aspx?Code=2602278&amp;t=counter" ></script>
<noscript><a href="http://www.webgozar.com/counter/stats.aspx?code=2602278" target="_blank">&#1570;&#1605;&#1575;&#1585;</a></noscript>
<!-- End WebGozar.com Counter code -->
		{% block left %}{% endblock %}
	</div>
</body>
</html>
