{% extends 'chapter_base.html' %}

{% block title %}View ها و URLconf های جنگو{% endblock %}
{% block meta %}جنگو و طریقه آدرس دهی و ایجاد view ها درون برنامه{% endblock %}
{% block keywords %}جنگو, کتاب, اولین, برنامه, view, urlconf, django-admin, hello, world, httpresponse, httprequest{% endblock %}

{% block ghabli %}/djangobook02/{% endblock %}
{% block badi%}/djangobook04/{% endblock %}}

{% block body %}
{% include 'includes/chapter03.html' %}
{% endblock %}

{% block ghabli1 %}/djangobook02/{% endblock %}
{% block badi1 %}/djangobook04/{% endblock %}