{% extends 'chapter_base.html' %}

{% block title %}مقدمه ای از جنگو{% endblock %}
{% block meta %}آشنایی با کارکرد فریم ورک جنگو، تاریخچه جنگو و همچنین الگوی طراحی MVC{% endblock %}
{% block keywords %}جنگو, کتاب, فریم, ورک, آشنایی, تاریخچه, django, framework, book, introducing, MVC, history{% endblock %}

{% block ghablilink %}قبلی{% endblock %}
{% block badi %}/djangobook02/{% endblock %}

{% block body %}

{% include 'includes/chapter01.html' %}
{% endblock %}

{% block ghablilink1 %}قبلی{% endblock %}
{% block badi1%}/djangobook02/{% endblock %}
