{% extends 'chapter_base.html' %}

{% block title %}بین المللی سازی جنگو{% endblock %}
{% block meta %}استفاده از جنگو در زبان های گوناگون{% endblock %}
{% block keywords %}جنگو, کتاب, ترجمه, زبان, بین المللی, django, book, po, internationalization, translate, gettext{% endblock %}

{% block ghabli %}/djangobook18/{% endblock %}
{% block badi %}/djangobook20/{% endblock %}

{% block body %}
{% include 'includes/chapter19.html' %}
{% endblock %}

{% block ghabli1 %}/djangobook18/{% endblock %}
{% block badi1 %}/djangobook20/{% endblock %}
