{% extends 'chapter_base.html' %}

{% block title %}سایت مدیر جنگو{% endblock %}
{% block meta %}آشنایی با سایت مدیر جنگو{% endblock %}
{% block keywords %}جنگو, کتاب, سایت, مدیر, رابط, django, book, admin, site, modeladmin{% endblock %}

{% block ghabli %}/djangobook05/{% endblock %}
{% block badi %}/djangobook07/{% endblock %}

{% block body %}
{% include 'includes/chapter06.html' %}
{% endblock %}

{% block ghabli1 %}/djangobook05/{% endblock %}
{% block badi1 %}/djangobook07/{% endblock %}
