{% extends 'chapter_base.html' %}

{% block title %}Template های پیشرفته در جنگو{% endblock %}
{% block meta %}آشنایی با Template ها به طور پیشرفته{% endblock %}
{% block keywords %}جنگو, کتاب, پیشرفته, template, django, book, advance, requestcontext{% endblock %}

{% block ghabli %}/djangobook08/{% endblock %}
{% block badi %}/djangobook10/{% endblock %}

{% block body %}
{% include 'includes/chapter09.html' %}
{% endblock %}

{% block ghabli1 %}/djangobook08/{% endblock %}
{% block badi1 %}/djangobook10/{% endblock %}
