{% extends 'chapter_base.html' %}

{% block title %}فرم ها در جنگو{% endblock %}
{% block meta %}آشنایی با فرم های جنگو{% endblock %}
{% block keywords %}جنگو, کتاب, فرم, کنترل, تایید, اعتبار, django, book, form, query, string, request{% endblock %}

{% block ghabli %}/djangobook06/{% endblock %}
{% block badi %}/djangobook08/{% endblock %}

{% block body %}
{% include 'includes/chapter07.html' %}
{% endblock %}

{% block ghabli1 %}/djangobook06/{% endblock %}
{% block badi1 %}/djangobook08/{% endblock %}
