{% extends 'chapter_base.html' %}

{% block title %}مدل ها در جنگو{% endblock %}
{% block meta %}آشنایی با مدل های جنگو{% endblock %}
{% block keywords %}جنگو, کتاب, مدل, دیتابیس, پایگاه داده, واکشی, django, book, dataabse, model, object{% endblock %}

{% block ghabli %}/djangobook04/{% endblock %}
{% block badi %}/djangobook06/{% endblock %}

{% block body %}
{% include 'includes/chapter05.html' %}
{% endblock %}

{% block ghabli1 %}/djangobook04/{% endblock %}
{% block badi1 %}/djangobook06/{% endblock %}
