{% extends 'chapter_base.html' %}

{% block title %}View ها و URLconf های پیشرفته در جنگو{% endblock %}
{% block meta %}آشنایی با با View و URLconf در جنگو{% endblock %}
{% block keywords %}جنگو, کتاب, آدرس, پیشرفته, django, book, urlconf, advance, view, generic{% endblock %}

{% block ghabli %}/djangobook07/{% endblock %}
{% block badi %}/djangobook09/{% endblock %}

{% block body %}
{% include 'includes/chapter08.html' %}
{% endblock %}

{% block ghabli1 %}/djangobook07/{% endblock %}
{% block badi1 %}/djangobook09/{% endblock %}
