{% extends 'chapter_base.html' %}

{% block title %}تولید محتوای غیر html ای در جنگو{% endblock %}
{% block meta %}تولید خروجی های غیر HTML در جنگو{% endblock %}
{% block keywords %}جنگو, کتاب, محتوا, تولید, ساختن, django, book, pdf, reportlab, html, non{% endblock %}

{% block ghabli %}/djangobook12/{% endblock %}
{% block badi %}/djangobook14/{% endblock %}

{% block body %}
{% include 'includes/chapter13.html' %}
{% endblock %}

{% block ghabli1 %}/djangobook12/{% endblock %}
{% block badi1 %}/djangobook14/{% endblock %}
