{% extends 'chapter_base.html' %}

{% block title %}Template ها در جنگو{% endblock %}
{% block meta %}آشنایی با template های جنگو و زبان آن در این فریم ورک{% endblock %}
{% block keywords %}جنگو, کتاب, قالب, ارث بری, django, book, template, view, get_template, include, inheritance{% endblock %}

{% block ghabli %}/djangobook03/{% endblock %}
{% block badi %}/djangobook05/{% endblock %}

{% block body %}
{% include 'includes/chapter04.html' %}
{% endblock %}

{% block ghabli1 %}/djangobook03/{% endblock %}
{% block badi1 %}/djangobook05/{% endblock %}
