{% extends 'chapter_base.html' %}

{% block title %}پکیج django.contrib جنگو{% endblock %}
{% block meta %}پکیج django.contrib در جنگو{% endblock %}
{% block keywords %}جنگو, کتاب, فیلتر, محافظت, CSRF, django, book, contrib, redirect{% endblock %}

{% block ghabli %}/djangobook15/{% endblock %}
{% block badi %}/djangobook17/{% endblock %}

{% block body %}
{% include 'includes/chapter16.html' %}
{% endblock %}

{% block ghabli1 %}/djangobook15/{% endblock %}
{% block badi1 %}/djangobook17/{% endblock %}
