{% extends 'chapter_base.html' %}

{% block title %}Session ها، کاربران، و عضویت در جنگو{% endblock %}
{% block meta %}ورود و خروج کاربر و عضویت در جنگو{% endblock %}
{% block keywords %}جنگو, کتاب, کاربر, عضویت, ورود, خروج, django, book, login, logout, session, register, کوکی, cookie{% endblock %}

{% block ghabli %}/djangobook13/{% endblock %}
{% block badi %}/djangobook15/{% endblock %}

{% block body %}
{% include 'includes/chapter14.html' %}
{% endblock %}

{% block ghabli1 %}/djangobook13/{% endblock %}
{% block badi1 %}/djangobook15/{% endblock %}
