{% extends 'base.html' %}

{% block title %}فهرست کتاب جنگو{% endblock %}
{% block toc %}فهرست مطالب{% endblock %}
{% block keywords %}کتاب جنگو, کتاب فارسی جنگو, فریم ورک وب, فریم ورک پایتون, مرجع فارسی جنگو, آموزش جنگو, آموزش فارسی جنگو, djangobook, django persian book, django farsi, web framework, django tutorial{% endblock %}

{% block khodebody %}
<div class="aval">
	<div>
		<h2 style="text-align: center">
			فهرست مطالب
		</h2>
	</div>

	    <div class='indexright'>
	        <a href='/chapter01/' class='index'>
	            فصل اول: مقدمه ای از جنگو
	        </a>
	    </div>
	    <div class="indexleft">
	        <a href='/chapter01/' class='index'>
	            Chapter 1: Introduction to Django
	        </a>
	    </div>

	<div class="toc-high">
	    <div class='indexright'>
	        <a href='/chapter02/' class='index'>فصل دوم:‌ شروع کار با جنگو</a>
	    </div>
	    <div class="indexleft">
	        <a href='/chapter02/' class='index'>Chapter 2: Getting Started</a>
	    </div>
	</div>
    
	    <div class='indexright'>
	        <a href='/chapter03/' class='index'>
				فصل سوم: view ها و URLconf های جنگو
	        </a></div>
	    <div class="indexleft">
	        <a href='/chapter03/' class='index'>Chapter 3: Views and URLconfs
	        </a>
	    </div>

	<div class="toc-high">
    <div class='indexright'>
        <a href='/chapter04/' class='index'>
			فصل چهارم: Template ها در جنگو
		</a>
    </div>
    <div class="indexleft">
        <a href='/chapter04/' class='index'>Chapter 4: Templates</a>
    </div>
	</div>
    
	    <div class='indexright'>
	        <a href='/chapter05/' class='index'>فصل پنجم: مدل ها در جنگو</a>
	    </div>
	    <div class="indexleft">
	        <a href='/chapter05/' class='index'>Chapter 5: Models</a>
	    </div>

	<div class="toc-high">
    <div class='indexright'>
        <a href='/chapter06/' class='index'>فصل ششم: سایت مدیر جنگو</a>
    </div>
    <div class="indexleft">
        <a href='/chapter06/' class='index'>
            Chapter 6: The Django Admin Site
        </a>
    </div>
	</div>
    
	    <div class='indexright'>
	        <a href='/chapter07/' class='index'>فصل هفتم:‌ فرم ها در جنگو</a>
	    </div>
	    <div class="indexleft">
	        <a href='/chapter07/' class='index'>Chapter 7: Forms</a>
	    </div>

	<div class="toc-high">
    <div class='indexright'>
        <a href='/chapter08/' class='index'>
			فصل هشتم: View ها و URLconf های پیشرفته در جنگو
		</a>
    </div>
    <div class="indexleft">
        <a href='/chapter08/' class='index'>
            Chapter 8: Advanced Views and URLconfs
        </a>
    </div>
	</div>
    
	    <div class='indexright'>
	        <a href='/chapter09/' class='index'>
				فصل نهم: Template های پیشرفته در جنگو
			</a>
	    </div>
	    <div class="indexleft">
	        <a href='/chapter09/' class='index'>
	            Chapter 9: Advanced Templates
	        </a>
	    </div>

	<div class="toc-high">
    <div class='indexright'>
        <a href='/chapter10/' class='index'>
			فصل دهم: مدل های پیشرفته در جنگو
		</a>
    </div>
    <div class="indexleft">
        <a href='/chapter10/' class='index'>Chapter 10: Advanced Models
        </a>
    </div>
	</div>
    
	    <div class='indexright'>
	        <a href='/chapter11/' class='index'>
				فصل یازدهم: View های Generic در جنگو
			</a>
	    </div>
	    <div class="indexleft">
	        <a href='/chapter11/' class='index'>Chapter 11: Generic Views</a>
	    </div>

	<div class="toc-high">
    <div class='indexright'>
        <a href='/chapter12/' class='index'>فصل دوازدهم:‌ گسترش جنگو</a>
    </div>
    <div class="indexleft">
        <a href='/chapter12/' class='index'>Chapter 12: Deploying Django
        </a>
    </div>
	</div>
    
	    <div class='indexright'>
	        <a href='/chapter13/' class='index'>
				فصل سیزدهم: تولید محتوای غیر html ای در جنگو
			</a>
	    </div>
	    <div class="indexleft">
	        <a href='/chapter13/' class='index'>
	            Chapter 13: Generating Non-HTML Content
	        </a>
	    </div>

	<div class="toc-high">
    <div class='indexright'>
        <a href='/chapter14/' class='index'>
			فصل چهاردهم: Session ها، کاربران، و عضویت در جنگو
		</a>
    </div>
    <div class="indexleft">
        <a href='/chapter14/' class='index'>
            Chapter 14: Sessions, Users, and Registration
        </a>
    </div>
	</div>
    
	    <div class='indexright'>
	        <a href='/chapter15/' class='index'>
				فصل پانزدهم: مبحث Caching در جنگو
	        </a>
	    </div>
	    <div class="indexleft">
	        <a href='/chapter15/' class='index'>Chapter 15: Caching</a>
	    </div>

	<div class="toc-high">
    <div class='indexright'>
        <a href='/chapter16/' class='index'>
			فصل شانزدهم: پکیج django.contrib جنگو
        </a>
    </div>
    <div class="indexleft">
        <a href='/chapter16/' class='index'>Chapter 16: django.contrib</a>
    </div>
	</div>
    
	    <div class='indexright'>
	        <a href='/chapter17/' class='index'>
				فصل هفدهم: مبحث Middleware جنگو
	        </a>
	    </div>
	    <div class="indexleft">
	        <a href='/chapter17/' class='index'>Chapter 17: Middleware</a>
	    </div>

	<div class="toc-high">
    <div class='indexright'>
        <a href='/chapter18/' class='index'>
			فصل هجدهم: یکپارچه سازی Application ها و دیتابیس های Legacy
		</a>
    </div>
    <div class="indexleft">
        <a href='/chapter18/' class='index'>
            Chapter 18: Integrating with Legacy Databases and Applications
        </a>
    </div>
	</div>
    
	    <div class='indexright'>
	        <a href='/chapter19/' class='index'>
				فصل نوزدهم: بین المللی سازی جنگو
			</a>
	    </div>
	    <div class="indexleft">
	        <a href='/chapter19/' class='index'>
	            Chapter 19: Internationalization
	        </a>
	    </div>

	<div class="toc-high">
    <div class='indexright'>
        <a href='/chapter20/' class='index'>فصل بیستم: امنیت در جنگو</a>
    </div>
    <div class="indexleft">
        <a href='/chapter20/' class='index'>Chapter 20: Security</a>
    </div>
	</div>
</div>
{% endblock %}
