{% extends 'base.html' %}

{% block title %}فهرست کتاب جنگو{% endblock %}
{% block toc %}فهرست مطالب{% endblock %}
{% block keywords %}کتاب جنگو, کتاب فارسی جنگو, فریم ورک وب, فریم ورک پایتون, مرجع فارسی جنگو, آموزش جنگو, آموزش فارسی جنگو, djangobook, django persian book, django farsi, web framework, django tutorial{% endblock %}

{% block khodebody %}
<div class="aval">
	<div>
		<h2 style="text-align: center">فهرست مطالب</h2>
	</div>
    <div class='indexright'>
        <a href='/djangobook01/' class='index'>فصل اول: مقدمه</a>
    </div>
    <div class="indexleft">
        <a href='/djangobook01/' class='index'>Chapter 1: Introduction to Django</a>
    </div>

	<div class="toc-high">
	    <div class='indexright'>
	        <a href='/djangobook02/' class='index'>فصل دوم:‌ شروع کار</a>
	    </div>
	    <div class="indexleft">
	        <a href='/djangobook02/' class='index'>Chapter 2: Getting Started</a>
	    </div>
	</div>
    
    <div class='indexright'>
        <a href='/djangobook03/' class='index'>فصل سوم: view ها و URLconf ها</a>
    </div>
    <div class="indexleft">
        <a href='/djangobook03/' class='index'>Chapter 3: Views and URLconfs
        </a>
    </div>

	<div class="toc-high">
    <div class='indexright'>
        <a href='/djangobook04/' class='index'>فصل چهارم: Template ها</a>
    </div>
    <div class="indexleft">
        <a href='/djangobook04/' class='index'>Chapter 4: Templates</a>
    </div>
	</div>
    
    <div class='indexright'>
        <a href='/djangobook05/' class='index'>فصل پنجم: مدل ها</a>
    </div>
    <div class="indexleft">
        <a href='/djangobook05/' class='index'>Chapter 5: Models</a>
    </div>

	<div class="toc-high">
    <div class='indexright'>
        <a href='/djangobook06/' class='index'>فصل ششم: سایت مدیر</a>
    </div>
    <div class="indexleft">
        <a href='/djangobook06/' class='index'>Chapter 6: The Django Admin Site</a>
    </div>
	</div>
    
    <div class='indexright'>
        <a href='/djangobook07/' class='index'>فصل هفتم:‌ فرم ها</a>
    </div>
    <div class="indexleft">
        <a href='/djangobook07/' class='index'>Chapter 7: Forms</a>
    </div>

	<div class="toc-high">
    <div class='indexright'>
        <a href='/djangobook08/' class='index'>فصل هشتم: View ها و URLconf های پیشرفته</a>
    </div>
    <div class="indexleft">
        <a href='/djangobook08/' class='index'>Chapter 8: Advanced Views and URLconfs</a>
    </div>
	</div>
    
    <div class='indexright'>
        <a href='/djangobook09/' class='index'>فصل نهم: Template های پیشرفته</a>
    </div>
    <div class="indexleft">
        <a href='/djangobook09/' class='index'>Chapter 9: Advanced Templates</a>
    </div>

	<div class="toc-high">
    <div class='indexright'>
        <a href='/djangobook10/' class='index'>فصل دهم: مدل های پیشرفته</a>
    </div>
    <div class="indexleft">
        <a href='/djangobook10/' class='index'>Chapter 10: Advanced Models
        </a>
    </div>
	</div>
    
    <div class='indexright'>
        <a href='/djangobook11/' class='index'>فصل یازدهم: View های Generic</a>
    </div>
    <div class="indexleft">
        <a href='/djangobook11/' class='index'>Chapter 11: Generic Views</a>
    </div>

	<div class="toc-high">
    <div class='indexright'>
        <a href='/djangobook12/' class='index'>فصل دوازدهم:‌ گسترش</a>
    </div>
    <div class="indexleft">
        <a href='/djangobook12/' class='index'>Chapter 12: Deploying Django
        </a>
    </div>
	</div>
    
    <div class='indexright'>
        <a href='/djangobook13/' class='index'>فصل سیزدهم: تولید محتوای غیر html ای</a>
    </div>
    <div class="indexleft">
        <a href='/djangobook13/' class='index'>Chapter 13: Generating Non-HTML Content</a>
    </div>

	<div class="toc-high">
    <div class='indexright'>
        <a href='/djangobook14/' class='index'>فصل چهاردهم: Session ها، کاربران، و عضویت</a>
    </div>
    <div class="indexleft">
        <a href='/djangobook14/' class='index'>Chapter 14: Sessions, Users, and Registration</a>
    </div>
	</div>
    
    <div class='indexright'>
        <a href='/djangobook15/' class='index'>فصل پانزدهم: مبحث Caching</a>
    </div>
    <div class="indexleft">
        <a href='/djangobook15/' class='index'>Chapter 15: Caching</a>
    </div>

	<div class="toc-high">
    <div class='indexright'>
        <a href='/djangobook16/' class='index'>فصل شانزدهم: پکیج django.contrib</a>
    </div>
    <div class="indexleft">
        <a href='/djangobook16/' class='index'>Chapter 16: django.contrib</a>
    </div>
	</div>
    
    <div class='indexright'>
        <a href='/djangobook17/' class='index'>فصل هفدهم: مبحث Middleware</a>
    </div>
    <div class="indexleft">
        <a href='/djangobook17/' class='index'>Chapter 17: Middleware</a>
    </div>

	<div class="toc-high">
    <div class='indexright'>
        <a href='/djangobook18/' class='index'>فصل هجدهم: یکپارچه سازی برنامه ها و دیتابیس های Legacy</a>
    </div>
    <div class="indexleft">
        <a href='/djangobook18/' class='index'>Chapter 18: Integrating with Legacy Databases and Applications</a>
    </div>
	</div>
    
    <div class='indexright'>
        <a href='/djangobook19/' class='index'>فصل نوزدهم: بین المللی سازی</a>
    </div>
    <div class="indexleft">
        <a href='/djangobook19/' class='index'>Chapter 19: Internationalization</a>
    </div>

	<div class="toc-high">
    <div class='indexright'>
        <a href='/djangobook20/' class='index'>فصل بیستم: امنیت</a>
    </div>
    <div class="indexleft">
        <a href='/djangobook20/' class='index'>Chapter 20: Security</a>
    </div>
	</div>
</div>
{% endblock %}
