{% extends 'base.html' %}

{% block title %}فهرست کتاب جنگو{% endblock %}
{% block meta %}فهرست مطالب کتاب فارسی فریم ورک وب جنگو{% endblock %}
{% block keywords %}جنگو, کتاب, امنیت, مقدمه, مدل, فرم, سایت, مدیر, django, book, security, template, form, admin, site, model, urlconf, view, {% endblock %}
{% block toc %}فهرست مطالب{% endblock %}

{% block khodebody %}
<div class="aval">
	<div>
		<h2 style="text-align: center">فهرست مطالب</h2>
	</div>
    <div class='indexright'>
        <a href='/djangobook01/' class='index'>مقدمه</a>
    </div>
    <div class="indexleft">
        <a href='/djangobook01/' class='index'>Introduction to Django</a>
    </div>

	<div class="toc-high">
	    <div class='indexright'>
	        <a href='/djangobook02/' class='index'>شروع کار</a>
	    </div>
	    <div class="indexleft">
	        <a href='/djangobook02/' class='index'>Getting Started</a>
	    </div>
	</div>
    
    <div class='indexright'>
        <a href='/djangobook03/' class='index'>view ها و URLconf ها</a>
    </div>
    <div class="indexleft">
        <a href='/djangobook03/' class='index'>Views and URLconfs
        </a>
    </div>

	<div class="toc-high">
    <div class='indexright'>
        <a href='/djangobook04/' class='index'>Template ها</a>
    </div>
    <div class="indexleft">
        <a href='/djangobook04/' class='index'>Templates</a>
    </div>
	</div>
    
    <div class='indexright'>
        <a href='/djangobook05/' class='index'>مدل ها</a>
    </div>
    <div class="indexleft">
        <a href='/djangobook05/' class='index'>Models</a>
    </div>

	<div class="toc-high">
    <div class='indexright'>
        <a href='/djangobook06/' class='index'>سایت مدیر</a>
    </div>
    <div class="indexleft">
        <a href='/djangobook06/' class='index'>The Django Admin Site</a>
    </div>
	</div>
    
    <div class='indexright'>
        <a href='/djangobook07/' class='index'>فرم ها</a>
    </div>
    <div class="indexleft">
        <a href='/djangobook07/' class='index'>Forms</a>
    </div>

	<div class="toc-high">
    <div class='indexright'>
        <a href='/djangobook08/' class='index'>View ها و URLconf های پیشرفته</a>
    </div>
    <div class="indexleft">
        <a href='/djangobook08/' class='index'>Advanced Views and URLconfs</a>
    </div>
	</div>
    
    <div class='indexright'>
        <a href='/djangobook09/' class='index'>Template های پیشرفته</a>
    </div>
    <div class="indexleft">
        <a href='/djangobook09/' class='index'>Advanced Templates</a>
    </div>

	<div class="toc-high">
    <div class='indexright'>
        <a href='/djangobook10/' class='index'>مدل های پیشرفته</a>
    </div>
    <div class="indexleft">
        <a href='/djangobook10/' class='index'>Advanced Models
        </a>
    </div>
	</div>
    
    <div class='indexright'>
        <a href='/djangobook11/' class='index'>View های Generic</a>
    </div>
    <div class="indexleft">
        <a href='/djangobook11/' class='index'>Generic Views</a>
    </div>

	<div class="toc-high">
    <div class='indexright'>
        <a href='/djangobook12/' class='index'>گسترش</a>
    </div>
    <div class="indexleft">
        <a href='/djangobook12/' class='index'>Deploying Django
        </a>
    </div>
	</div>
    
    <div class='indexright'>
        <a href='/djangobook13/' class='index'>تولید محتوای غیر html ای</a>
    </div>
    <div class="indexleft">
        <a href='/djangobook13/' class='index'>Generating Non-HTML Content</a>
    </div>

	<div class="toc-high">
    <div class='indexright'>
        <a href='/djangobook14/' class='index'>Session ها، کاربران، و عضویت</a>
    </div>
    <div class="indexleft">
        <a href='/djangobook14/' class='index'>Sessions, Users, and Registration</a>
    </div>
	</div>
    
    <div class='indexright'>
        <a href='/djangobook15/' class='index'>مبحث Caching</a>
    </div>
    <div class="indexleft">
        <a href='/djangobook15/' class='index'>Caching</a>
    </div>

	<div class="toc-high">
    <div class='indexright'>
        <a href='/djangobook16/' class='index'>پکیج django.contrib</a>
    </div>
    <div class="indexleft">
        <a href='/djangobook16/' class='index'>django.contrib</a>
    </div>
	</div>
    
    <div class='indexright'>
        <a href='/djangobook17/' class='index'>مبحث Middleware</a>
    </div>
    <div class="indexleft">
        <a href='/djangobook17/' class='index'>Middleware</a>
    </div>

	<div class="toc-high">
    <div class='indexright'>
        <a href='/djangobook18/' class='index'>یکپارچه سازی برنامه ها و دیتابیس های Legacy</a>
    </div>
    <div class="indexleft">
        <a href='/djangobook18/' class='index'>Integrating with Legacy Databases and Applications</a>
    </div>
	</div>
    
    <div class='indexright'>
        <a href='/djangobook19/' class='index'>بین المللی سازی</a>
    </div>
    <div class="indexleft">
        <a href='/djangobook19/' class='index'>Internationalization</a>
    </div>

	<div class="toc-high">
    <div class='indexright'>
        <a href='/djangobook20/' class='index'>امنیت</a>
    </div>
    <div class="indexleft">
        <a href='/djangobook20/' class='index'>Security</a>
    </div>
	</div>
</div>
{% endblock %}
